body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 90%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-size: cover;
    aspect-ratio: 1/1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.arrow-up {
    grid-column: 2;
    grid-row: 2;
    background-image: url(res/up.png);
}

.arrow-left {
    grid-column: 1;
    grid-row: 3;
    background-image: url(res/left.png);
}

.arrow-right {
    grid-column: 3;
    grid-row: 3;
    background-image: url(res/right.png);
}

.arrow-down {
    grid-column: 2;
    grid-row: 3;
    background-image: url(res/down.png);
}

.delete {
    grid-column: 1;
    grid-row: 2;
    background-image: url(res/delete.png);
}

.insert {
    grid-column: 1;
    grid-row: 1;
    background-image: url(res/insert.png);
}